//---------------------------------------------------------------------------
//
// Name:        CMSApp.rc
// Author:      DK
// Created:     2008/2/20 ¤U¤È 08:48:28
// Description: 
//
//---------------------------------------------------------------------------

logo ICON "../Logo/LOGO.ico"
#include <wx/msw/wx.rc>
